.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
    border-radius: 20px;
    margin: 10px;
    color: #fff;

}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar li {
    cursor: pointer;
    transition: 0.3;
}

.navbar li:hover {
    color: #ffd700;
}